
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<style>

    #sidelinks #aboutlink {
        border-bottom-color: #ececec;
        border-bottom-width: thin;
        border-bottom-style: solid;
    }
</style>

<div class="container">
    <h1 class="page-header-title">Dashboard</h1>
    <div class="card">
        <div class="card-body">

            <p class="card-text">asdfniowehfuiowheuifhuioqwhuiofhwquioefhuiowqehfuioqwheuiofhqwiouefhouiqwefqwhfiuoqwe</p>


        </div>
    </div>
</div>


