@model Barangay_Management_Information_System.Models.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>

<style>

    #sidelinks #dashboard-link {
        background-color: #ececec;
        color: #434e52;
        text-decoration: none;
    }


    .container, .card {
        background-color: #fafafa;
    }
    .row {
        margin-bottom: 40px;
        background-color: #fafafa;
    }

    .my-chart {
        background-color: #ffffff;
    }
</style>

<div class="container">

    <h1 class="page-header-title">Dashboard</h1>

    <div class="card border-0 rounded mb-5">
        <div class="card-body">

            <div class="row shadow">

                <div class="col-lg-3 mb-3 mt-3">

                    <div class="card text-white bg-primary">
                        <div class="card-body">
                            <h2 class="" style="font-size:18px;">Sinisian Resident</h2>
                            <h2 class="float-left" style="font-size:35px; margin-top:0px">@Model.Residents</h2>
                            <span class="fas fa-id-card-alt	float-right" style="font-size:50px"></span>
                        </div>
                    </div>

                </div>

                <div class="col-lg-3 mb-3 mt-3">
                    <div class="card text-white bg-info">
                        <div class="card-body">
                            <h2 class="" style="font-size:18px;">Senior Citizen</h2>
                            <h2 class="float-left" style="font-size:35px; margin-top:0px">@Model.SeniorCitizens</h2>
                            <span class="fas fa-wheelchair float-right" style="font-size:50px"></span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 mb-3 mt-3">
                    <div class="card text-white bg-danger">
                        <div class="card-body">
                            <h2 class="" style="font-size:18px;">Deceased</h2>
                            <h2 class="float-left" style="font-size:35px; margin-top:0px">@Model.Deceased</h2>
                            <span class="fas fa-cross float-right" style="font-size:50px"></span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 mb-3 mt-3">
                    <div class="card text-white bg-success">
                        <div class="card-body">
                            <h2 class="" style="font-size:18px;">Registered Voters</h2>
                            <h2 class="float-left" style="font-size:35px; margin-top:0px">@Model.Voters</h2>
                            <span class="fas fa-vote-yea float-right" style="font-size:50px"></span>
                        </div>
                    </div>
                </div>

            </div>


            <!-- Line Chart, Date when the resident was recorded -->
            <div class="row">
                <div class="col-lg-12 mb-4 mt-4">
                    <div class="card border-0 my-chart shadow">
                        <div class="card-body">
                            <canvas id="residentRecordedChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Bar, Age Distribution -->
            <div class="row">
                <div class="col-lg-12 mb-3 ">
                    <div class="card border-0 my-chart shadow">
                        <div class="card-body">
                            <canvas id="ageDistributionChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Doughnut and Pie, Sex and Sitio -->
            <div class="row">
                <div class="col-lg-6 mb-3">
                    <div class="card border-0 my-chart shadow h-100">
                        <div class="card-body">
                            <canvas id="sexDistributionChart" class="mb-3" height="200"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mb-3">
                    <div class="card border-0 my-chart shadow h-100">
                        <div class="card-body">

                            <canvas id="sitioDistributionChart" class="mb-3" height="200"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Line Chart and pie, Date when the account was created and account types -->
            <div class="row">
                <div class="col-lg-7 mb-4 mt-4">
                    <div class="card border-0 my-chart shadow">
                        <div class="card-body">
                            <canvas id="accountsCreatedChart"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 mb-4 mt-4">
                    <div class="card border-0 my-chart shadow h-100">
                        <div class="card-body">
                            <canvas id="accountTypesDistributionChart" class="mt-2" height="200"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

@section scripts{

    <script>
        // Chart 1
        $.getJSON("/Dashboard/GetDateResidentRecorded/", function (data) {
            labels = [];
            dataDataset = [];
            dataDataset2 = [];
            dataDataset3 = [];

            $.each(data, function (i, item) {
                labels.push(item.DateCitizenRecord)
                dataDataset.push(item.DateCitizenRecordCount)
                dataDataset2.push(item.DateCitizenRecordCountSinisianProper)
                dataDataset3.push(item.DateCitizenRecordCountSinisianNorth)
            });

            var ctx = document.getElementById("residentRecordedChart").getContext("2d");
            var residentRecordedChart = new Chart(ctx,
                {
                    type: "line",
                    data: {
                        labels: labels,
                        datasets: [
                            {
                                label: "Residents",
                                borderColor: "#184d47",
                                backgroundColor: "rgba(238, 252, 238, 0.5)",
                                borderWidth: 3,
                                pointBorderWidth: 2,
                                pointHoverRadius: 5,
                                pointHoverBackgroundColor: "#e8f9e9",

                                lineTension: 0.1,

                                fill: true,
                                data: dataDataset
                            },
                            {
                                label: "Sinisian Proper",
                                borderColor: "#5b8c85",
                                backgroundColor: "#fafafa",
                                borderWidth: 2,

                                pointBorderWidth: 2,
                                pointHoverRadius: 5,
                                pointHoverBackgroundColor: "#edffea",

                                fill: false,
                                data: dataDataset2
                            },
                            {
                                label: "Sinisian North",
                                borderColor: "#94d3ac",
                                backgroundColor: "#fafafa",
                                borderWidth: 2,

                                pointBorderWidth: 2,
                                pointHoverRadius: 5,
                                pointHoverBackgroundColor: "#edffea",

                                fill: false,
                                data: dataDataset3
                            }
                        ]
                    },

                    options: {
                        title: {
                            display: true,
                            text: 'Recorded Sinisian Residents per Date',
                            fontSize: 17,

                            lineHeight: 2
                        },
                        legend: {
                            boxWidth: 1,
                            position: "bottom"
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }

                    }
                });
        });

        // Chart 2
        $.getJSON("/Dashboard/GetAgeDistribution/", function (data) {
            dataDataset = [];
            dataDataset2 = [];

            $.each(data, function (i, item) {
                dataDataset.push(item.MaleAgeDistribution)
                dataDataset2.push(item.FemaleAgeDistribution)
            });

            var ctx = document.getElementById("ageDistributionChart").getContext("2d");
            var residentRecordedChart = new Chart(ctx,
                {
                    type: "bar",
                    data: {
                        labels: ["Under 5 years", "5 to 17 years", "18 to 24 years", "25 to 44 years", "45 to 64 years", "65 years and over"],
                        datasets: [
                            {
                                label: "Male",
                                borderColor: "#2b580c",
                                backgroundColor: "#2b580c",
                                borderWidth: 2,
                                fill: true,
                                data: dataDataset
                            },
                            {
                                label: "Female",
                                borderColor: "#b0eacd",
                                backgroundColor: "#b0eacd",
                                borderWidth: 2,
                                fill: true,
                                data: dataDataset2
                            }
                        ]
                    },

                    options: {
                        title: {
                            display: true,
                            text: 'Resident Age Bracket per Sex',
                            fontSize: 17,

                            lineHeight: 2
                        },
                        legend: {
                            boxWidth: 1,
                            position: "bottom"
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }

                    }
                });
        });

        // Chart 3
        $.getJSON("/Dashboard/GetSexDistribution/", function (data) {

            var ctx = document.getElementById("sexDistributionChart").getContext("2d");
            var residentRecordedChart = new Chart(ctx,
                {
                    type: "doughnut",
                    data: {
                        labels: ["Male", "Female"],
                        datasets: [
                            {
                                borderColor: ["#2b580c", "#2b580c"],
                                backgroundColor: ["#2b580c", "#cceabb"],
                                borderWidth:1,
                                fill: true,
                                data: [data.MaleSexDistribution, data.FemaleSexDistribution]
                            }
                        ]
                    },

                    options: {
                        title: {
                            display: true,
                            text: 'Sex Count',
                            fontSize: 17,

                            lineHeight: 2
                        },
                        legend: {
                            boxWidth: 1,
                            position: "left"
                        }
                    }
                });
        });

        // Chart 4
        $.getJSON("/Dashboard/GetSitioDistribution/", function (data) {

            var ctx = document.getElementById("sitioDistributionChart").getContext("2d");
            var residentRecordedChart = new Chart(ctx,
                {
                    type: "pie",
                    data: {
                        labels: ["North Sinisian", "Sinisian Proper", "Undefined"],
                        datasets: [
                            {
                                borderColor : "#2b580c",
                                backgroundColor: ["#2b580c", "#cceabb", "#d1f5d3"],
                                borderWidth: 1,
                                fill: true,
                                data: [data.NSDistribution, data.SPDistribution, data.UndefinedDistribution]
                            }
                        ]
                    },

                    options: {
                        title: {
                            display: true,
                            text: 'Residents per Sitio',
                            fontSize: 17,

                            lineHeight: 2
                        },
                        legend: {
                            boxWidth: 1,
                            position: "left"
                        }
                    }
                });
        });

        // Chart 5
        $.getJSON("/Dashboard/GetDateAccountsCreated/", function (data) {
            labels = []; // Dates
            dataDataset = [];

            $.each(data, function (i, item) {
                labels.push(item.DateAccountCreated)
                dataDataset.push(item.DateAccountCreatedCount)
            });

            var ctx = document.getElementById("accountsCreatedChart").getContext("2d");
            var residentRecordedChart = new Chart(ctx,
                {
                    type: "line",
                    data: {
                        labels: labels,
                        datasets: [
                            {
                                label: "Accounts",
                                borderColor: "#184d47",
                                backgroundColor: "rgba(238, 252, 238, 0.5)",
                                borderWidth: 3,
                                pointBorderWidth: 2,
                                pointHoverRadius: 5,
                                pointHoverBackgroundColor: "#e8f9e9",

                                lineTension: 0.1,

                                fill: false,
                                data: dataDataset
                            }
                        ]
                    },

                    options: {
                        title: {
                            display: true,
                            text: 'Accounts Created per Date',
                            fontSize: 17,

                            lineHeight: 2
                        },
                        legend: {
                            boxWidth: 1,
                            position: "bottom"
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }

                    }
                });
        });

        // Chart 6
        $.getJSON("/Dashboard/GetAccountTypesDistribution/", function (data) {
            labels = []; // Dates
            dataDataset = [];

            $.each(data, function (i, item) {
                labels.push(item.AccountTypes)
                dataDataset.push(item.AccountTypeUsersCount)
            });

            var ctx = document.getElementById("accountTypesDistributionChart").getContext("2d");
            var residentRecordedChart = new Chart(ctx,
                {
                    type: "pie",
                    data: {
                        labels: labels,
                        datasets: [
                            {
                                borderColor: "#2b580c",
                                backgroundColor: ["#2b580c", "#cceabb", "#d1f5d3"],
                                borderWidth: 1,
                                fill: true,
                                data: dataDataset
                            }
                        ]
                    },

                    options: {
                        title: {
                            display: true,
                            text: 'Account Roles And Types',
                            fontSize: 17,

                            lineHeight: 2
                        },
                        legend: {
                            boxWidth: 1,
                            position: "left"
                        }
                    }
                });
        });
    </script>

}