
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<style>

    #sidelinks #dashboard-link {
        background-color: #ececec;
        color: #434e52;
        text-decoration: none;
    }

    .container {
        background-color: inherit;
    }
</style>

<div class="container">

    <h1 class="page-header-title">Dashboard</h1>

    <div class="card shadow border-0 rounded p-3 mb-5">
        <div class="card-body">

            <p>lorem lorem</p>

        </div>
    </div>

</div>
