
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<style>

    #sidelinks #aboutlink {
        background-image: linear-gradient(100deg, #001510, #00bf8f);
        color: white;
    }
</style>

<div class="container">
    <h2>Index</h2>
    <div class="card">
        <div class="card-body">

            <p class="card-text">asdfniowehfuiowheuifhuioqwhuiofhwquioefhuiowqehfuioqwheuiofhqwiouefhouiqwefqwhfiuoqwe</p>

        </div>
    </div>
</div>


