
@{
    ViewBag.Title = "Change Username";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<style>
    .form-control {
        color: #003f30;
        letter-spacing: 2px;
    }

    .form-control:focus {
        border-color: #28a745;
        box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
    }
</style>

@using (Html.BeginForm("ChangeUsername", "PersonalAccount", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "loading()" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-12">Username</label>
            <div class="col-md-12">

                <input type="text" class="form-control" name="newUsername" placeholder="Username" required>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
                <span class=" ml-2 mr-2" id="loading"></span>
                <input type="submit" value="Change Username" id="submit-btn" class="btn btn-success  float-right" />
            </div>
        </div>

    </div>
}