@model Barangay_Management_Information_System.Models.Entity.AspNetUser

@{
    ViewBag.Title = "My Account";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">

    <h1 class="page-header-title">My Account</h1>

    <div class="card shadow border-0 rounded p-3 mb-5">
        <div class="card-body">

            <div class="row">

                <div class="col-lg-4 w-100 d-flex">

                    @if (Model.AccountAssets.FirstOrDefault() != null)
                    {
                        <img src="@Model.AccountAssets.FirstOrDefault().LocationStorage.Address" width="180" class="rounded-circle mx-auto my-auto d-block shadow" />
                    }
                    else
                    {
                        <img src="~/Content/Images/User Profile Photo/user.png" width="180" class="rounded-circle mx-auto my-auto d-block" />
                    }

                    <button class="btn btn-success btn-sm mt-2 mx-auto my-auto d-block" onclick="Upload()">Change Picture</button>

                </div>

                <div class="col-lg-8">
                    <label class="control-label">Email</label>
                    <div class="form-control-plaintext border rounded p-2" style="font-size: 15px">
                        @Html.DisplayFor(model => model.Email)
                    </div>

                    <div class="mb-5"></div>

                    <label class="control-label">Username</label>
                    <div class="form-control-plaintext border rounded p-2" style="font-size: 15px">
                        @Html.DisplayFor(model => model.UserName)
                    </div>
                    <a href="#" class="text-right float-right mt-1" onclick="Username()">Change username...</a>

                    <div class="mb-5"></div>

                    <label class="control-label">Password</label>
                    <div class="form-control-plaintext border rounded p-2" style="font-size: 15px">
                        <a href="#" class="" onclick="Reset()">Change Password..</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade rounded shadow-lg mt-5" id="modal-for-upload" style="min-width:490px;">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header" style="background-image: linear-gradient(100deg, #00533f, #00bf8f);">
                <!-- Heading -->
                <h3 class="modal-title" style="color: #ffffff;">Upload Display Picture</h3>
                <a href="#" class="close" data-dismiss="modal" style="color: #fafafa;">&times;</a>
            </div>

            <div class="modal-body" id="modal-upload-body">
                <!-- Content Body -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade rounded shadow-lg mt-5" id="modal-for-reset" style="min-width:490px;">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header" style="background-image: linear-gradient(100deg, #00533f, #00bf8f);">
                <!-- Heading -->
                <h3 class="modal-title" style="color: #ffffff;">Reset Password</h3>
                <a href="#" class="close" data-dismiss="modal" style="color: #fafafa;">&times;</a>
            </div>

            <div class="modal-body" id="modal-reset-body">
                <!-- Content Body -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade rounded shadow-lg mt-5" id="modal-for-username" style="min-width:490px;">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header" style="background-image: linear-gradient(100deg, #00533f, #00bf8f);">
                <!-- Heading -->
                <h3 class="modal-title" style="color: #ffffff;">Change Username</h3>
                <a href="#" class="close" data-dismiss="modal" style="color: #fafafa;">&times;</a>
            </div>

            <div class="modal-body" id="modal-username-body">
                <!-- Content Body -->
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>

        var Username = function () {

            var url = "/PersonalAccount/ChangeUsername";

            $("#modal-username-body").load(url, function () {
                $("#modal-for-username").modal("show");

            });

        }

        var Upload = function () {

            var url = "/PersonalAccount/UploadDisplayPicture";

            $("#modal-upload-body").load(url, function () {
                $("#modal-for-upload").modal("show");

            });

        }

        var Reset = function () {

            var url = "/Account/ResetPassword";

            $("#modal-reset-body").load(url, function () {
                $("#modal-for-reset").modal("show");

            });

        }

    </script>

}