
@{
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<div class="pl-3 pr-3 pt-3 pb-3">

    <div class="col-md-12">      
        <label>Description</label>
        <div class="form-control h-100" style="word-break:break-all; font-size:15px; line-height:30px">
            @TempData["message"]         
        </div>            
    </div>    

</div>
